body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* keluarga font */
    font-size: 20px; /* Ukuran font utama pada tag <p></p> */
    background-color:#D6FF6B; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #FD98FB; /* Warna tajuk (header)*/
    font-size: 70px; /* Ukuran font tajuk (header) */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h2 {
    color: white;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}